{% extends 'base.html' %} {% block content %}
<div class="container mx-auto py-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <form method="POST">
      {% csrf_token %} {{ forms.management_form }} {% for form in forms %}
      <div
        class="bg-white rounded-lg shadow-md p-4 hover:shadow-lg transition duration-300"
      >
        <h2 class="text-xl font-semibold text-gray-800 mb-4">
          {{form.instance.product.name}}
        </h2>
        <img
          src="{{ form.instance.product.thumbnail.url }}"
          alt="{{ form.instance.product.name }}"
          class="w-16 h-16 object-cover rounded-md mb-4"
        />
        <p class="text-gray-800">{{ form.instance.product.name }}</p>
        {{ form.as_p }}
      </div>
      {% endfor %}
      <button
        type="submit"
        class="text-center text-white bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md transition duration-300 mt-4"
      >
        Mettre à jour le panier
      </button>
    </form>
  </div>

  <div class="mt-8 flex justify-end space-x-4">
    <a
      href="{% url 'delete-cart' %}"
      class="text-center text-white bg-red-500 hover:bg-red-600 px-4 py-2 rounded-md transition duration-300"
    >
      Supprimer le panier
    </a>

    <form action="{% url 'create_checkout_session' %}" method="POST">
      {% csrf_token %}
      <button
        type="submit"
        class="text-center text-white bg-green-500 hover:bg-green-600 px-4 py-2 rounded-md transition duration-300"
      >
        Procéder au paiement
      </button>
    </form>
  </div>
</div>
{% endblock %}
