{% extends 'base.html' %} {% block content %}

<h2>{{ product.name }}</h2>
<h3>€{{ product.price }}</h3>

{% if product.thumbnail and product.thumbnail.url %}
<img
  src="{{ product.thumbnail.url }}"
  alt="{{ product.name }}"
  style="max-width: 250px"
/>
{% else %}
<p>No image available</p>
{% endif %}

<p>{{ product.description }}</p>

{% if user.is_authenticated %}
<a href="{% url 'add-to-cart' product.slug %}">Ajouter au panier</a>
{% endif %} {% if product.variants.exists %}
<h3>Variantes disponibles :</h3>
<ul>
  {% for variant in product.variants.all %}
  <li>
    <a href="{{ variant.get_absolute_url }}">{{ variant.name }}</a>
    - €{{ variant.price }}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Aucune variante disponible.</p>
{% endif %} {% endblock %}
