{% extends 'base.html' %} {% load static %} {% block content %}

<section class="min-h-screen flex items-center justify-center">
  <div
    class="flex flex-col md:flex-row items-center justify-center w-full max-w-4xl p-6 space-y-6 md:space-y-0 md:space-x-6"
  >
    <div class="block w-full md:w-1/2">
      <img
        src="{% static 'images/welcome.jpeg' %}"
        alt="signup"
        class="object-cover w-full h-full rounded-lg"
      />
    </div>
    <div class="w-full md:w-1/2">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-primary"
        >
          Inscription
        </h1>
        <p
          class="text-lg font-medium leading-tight tracking-tight md:text-xl text-secondary"
        >
          Rejoignez-nous dès maintenant et profitez de nos services exclusifs.
        </p>
        <form method="POST" class="space-y-4 md:space-y-6">
          {% csrf_token %}
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-primary"
              >Email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="bg-blanc border border-gray-300 text-primary text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="name@company.com"
              required
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-primary"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-blanc border border-gray-300 text-primary text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              required
            />
          </div>
          <button
            type="submit"
            class="w-full items-center justify-center px-5 py-3 text-base font-semibold text-center rounded-full bg-[#768948] hover:bg-[#5a6b32] transition ease-in text-white"
          >
            Inscription
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
